@charset "UTF-8";
/*me quede en sass 1 1:29 el uso de variables,hacer el seo,preguntar como aplico variables*/
.horarios {
  color: green;
}

h2 {
  color: blue;
}

p {
  color: black;
}

.whatsaap_ {
  height: 20px;
  width: 100px;
}

.steel_logo {
  height: 100px;
  width: 200px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: url(../Image/F.webp);
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

/*header*/
header div .titulo {
  display: flex;
  justify-content: center;
  color: black;
}
header div .steel_logo {
  width: 200px;
  display: grid;
  grid-column: 1fr;
  grid-row: auto;
}
header div .whatsaap_ {
  display: grid;
  grid-column: 1fr;
  grid-row: auto;
  width: 60px;
  position: fixed;
}

/*navbar*/
ul {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  list-style: none;
  font-size: 20px;
  border: 2px double black;
  background: rgb(17, 0, 36);
  background: radial-gradient(circle, rgba(0, 36, 34, 0.1152836134) 2%, rgb(9, 9, 121) 99%, rgba(255, 0, 0, 0.0340511204) 100%);
  width: 100%;
}

/*formulario*/
.correo {
  font-size: 17px;
}
.correo .form {
  justify-content: right;
  margin: 3px solid red;
  padding: 20px;
}
.correo .form .contraseña {
  font-size: 40px;
}

/*main tercera parte*/
div .arma {
  display: grid;
  grid-column: 1fr;
  grid-row: auto;
  margin-top: 10px;
  font-size: 40px;
  justify-content: center;
}
div .arma .acces {
  display: flex;
  justify-content: center;
}

/* cuarta parte*/
div h2 {
  display: flex;
  justify-content: center;
  color: black;
}
div h2 .secuencia {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 50px;
}

/*quinta parte*/
article .todos {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
article .todos .descuento {
  display: flex;
  width: 30px;
}

/*footer*/
.content1 {
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}

.content1 .text {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
}

.content1 .p {
  font-size: 2.1875rem;
  font-weight: 600;
  color: #fff;
}

footer {
  bottom: 0px;
  width: 100%;
  background: #FFF3E0;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}

.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #448AFF;
  top: -10px;
}

.left .content p {
  text-align: justify;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: #448AFF;
}

.center .content .fas {
  font-size: 1.4375rem;
  background: #448AFF;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: #448AFF;
}

.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone {
  margin: 15px 0;
}

.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}

.right form .msg {
  margin-top: 10px;
}

.right form input, .right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #448AFF;
  padding-left: 10px;
  border: 1px solid #448AFF;
}

.right form input:focus,
.right form textarea:focus {
  outline-color: #fff;
}

.right form input {
  height: 35px;
}

.right form .btn {
  margin-top: 10px;
}

.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #448AFF;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.right form .btn button:hover {
  background: #000;
}

.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: blue;
}

.bottom center span {
  color: #656565;
}

.bottom center a {
  color: #f12020;
  text-decoration: none;
}

.bottom center a:hover {
  text-decoration: underline;
}

/*footer*/
@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}
/*****Eliminar border por defecto de un botton */
input {
  border: none;
  outline: none;
}

textarea {
  outline: none;
  outline: none;
}

/*VISTA TABLET*/
@media (min-width: 480px) and (max-width: 990px) {
  header div .titulo {
    display: flex;
  }
  .steel_logo {
    display: grid;
    grid-column: 1fr;
    grid-row: auto;
    width: 200px;
  }
  .steel_logo .whatsaap_ {
    display: flex;
    position: fixed;
  }
}
/*main tercera parte*/
div .arma {
  display: flex;
  margin-top: 10px;
  font-size: 40px;
  justify-content: center;
}
div .arma .acces {
  display: grid;
  grid-column: 1fr;
  grid-row: auto;
  justify-content: center;
  width: 100px;
}

/*VISTA DESKTOP*/
@media (min-width: 991px) and (max-width: 1200px) {
  header div .titulo {
    font-size: 40px;
    color: rgb(8, 8, 36);
  }
  header div .steel_logo {
    width: 200px;
    border: 1px double blue;
  }
  header div .whatsaap_ {
    width: 60px;
    position: fixed;
  }
}
/*navbar*/
.enlaces {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  grid-template-columns: auto auto auto;
}
.enlaces ul {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  list-style: none;
  font-size: 20px;
  border: 2px double black;
  background: rgb(17, 0, 36);
  background: radial-gradient(circle, rgba(0, 36, 34, 0.1152836134) 2%, rgb(9, 9, 121) 99%, rgba(255, 0, 0, 0.0340511204) 100%);
  width: 100%;
}

.todos {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.todos .descuento {
  display: flex;
  width: 50px;
}

/*segunda pagina sobrenosotros primeras parte*/
div h1 {
  display: flex;
  justify-content: center;
}
div h1 .steel_logo {
  width: 200px;
  display: grid;
  grid-column: 1fr;
  grid-row: auto;
}
div h1 .whatsaap_ {
  display: grid;
  grid-column: 1fr;
  grid-row: auto;
  width: 60px;
  position: fixed;
  height: 2px;
}

/*nabvar*/
ul {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  list-style: none;
  font-size: 20px;
  border: 2px double black;
  background: rgb(17, 0, 36);
  background: radial-gradient(circle, rgba(0, 36, 34, 0.1152836134) 2%, rgb(9, 9, 121) 99%, rgba(255, 0, 0, 0.0340511204) 100%);
  width: 100%;
}
ul .enlaces {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  font-size: 30px;
  list-style: none;
  color: white;
  row-gap: 10px;
}

/*segunda parte parte*/
div .desde {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
div .desde .tll {
  display: flex;
  font-size: 60px;
}
div .desde .tll #p_e {
  display: flex;
  justify-self: center;
  font-size: 100px;
}
div .desde .tll #p_e:hover {
  color: rgba(2, 0, 0, 0.438);
}

/*tercera parte*/
div .seccion {
  display: flex;
  justify-content: center;
  width: 200px;
}

/*cuarta parte*/
.mision {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 30px;
}
.mision .empresa {
  font: size 14px;
}
.mision .vision {
  display: flex;
  margin-top: 20px;
  font-size: 50px;
}

/*footer*/
.content1 {
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}

.content1 .text {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
}

.content1 .p {
  font-size: 2.1875rem;
  font-weight: 600;
  color: #fff;
}

footer {
  bottom: 0px;
  width: 100%;
  background: #FFF3E0;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}

.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #448AFF;
  top: -10px;
}

.left .content p {
  text-align: justify;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: #448AFF;
}

.center .content .fas {
  font-size: 1.4375rem;
  background: #448AFF;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: #448AFF;
}

.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone {
  margin: 15px 0;
}

.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}

.right form .msg {
  margin-top: 10px;
}

.right form input, .right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #448AFF;
  padding-left: 10px;
  border: 1px solid #448AFF;
}

.right form input:focus,
.right form textarea:focus {
  outline-color: #fff;
}

.right form input {
  height: 35px;
}

.right form .btn {
  margin-top: 10px;
}

.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #448AFF;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.right form .btn button:hover {
  background: #000;
}

.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: blue;
}

.bottom center span {
  color: #656565;
}

.bottom center a {
  color: #f12020;
  text-decoration: none;
}

.bottom center a:hover {
  text-decoration: underline;
}

/*footer*/
/*VISTA TABLET*/
@media (min-width: 480px) and (max-width: 990px) {
  /*segunda parte*/
  .desde {
    color: rgb(0, 162, 255);
  }
  .desde .body {
    display: flex;
    width: 200px;
  }
  div .seccion {
    display: flex;
    justify-content: center;
    width: 100px;
  }
  div .seccion .vision {
    width: 200px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  div .still {
    display: flex;
    font-size: 200px;
  }
}
.desde {
  font-size: 60px;
}
.desde .body {
  font-size: 100px;
}
.desde .body .parrafo {
  display: flex;
  justify-self: center;
  font-size: 13px;
}
.desde .body .parrafo:hover {
  color: rgba(0, 0, 0, 0.438);
}

/*Productos*/
div .sobre {
  display: flex;
}
div .sobre .steel_logo {
  display: flex;
  justify-content: left;
}
div .sobre .whatsaap_ {
  display: flex;
}

/*segunda parte*/
.all {
  display: block;
  width: 100%;
  row-gap: 100px;
}
.all h3 {
  display: flex;
}
.all .eliptico {
  display: none;
}
.all .caminadora {
  display: none;
}
.all .estructura {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: auto;
  overflow-x: hidden;
}

/*tercera parte*/
.envio {
  display: flex;
}

.derechos {
  display: flex;
}

/*vista tablet*/
/*Contacto primera y segunda parte*/
.contacto {
  display: flex;
  justify-content: center;
}
.contacto .habiles {
  display: flex;
}
.contacto .encontrarnos {
  display: flex;
  justify-content: auto;
}
.contacto .steel_logo {
  display: flex;
  width: 70px;
}
.contacto .map {
  display: flex;
}

/*segunda parte*/
.consultas {
  display: flex;
  justify-content: center;
}
.consultas .horarios {
  display: flex;
}

/*tercera parte form*/
.label {
  font-size: 20px;
}
.escribe {
  justify-content: center;
}

.for {
  width: 60%;
  height: 100%;
}

/*footer*/
.envio {
  display: flex;
  justify-content: center;
}
.envio .derechos {
  display: flex;
  justify-self: center;
}

/*# sourceMappingURL=estilo.css.map */
