*{
    margin:0;
    padding:0;
    font-family:'Bebas Neue', cursive;
    text-decoration: none;
    box-sizing:border-box;
}
body{
    background:url(../Image/F.webp);
    overflow-x:hidden;
 }
 html{
    overflow-x:hidden;
 
 }
 
 


